[submodule "testdata/mocked_plugins/python-processor/python-processor@1.0/protos"]
	path = testdata/mocked_plugins/python-processor/python-processor@1.0/protos
	url = https://github.com/Acedyn/zorro-proto.git
